/* styles.css */
body {
    font-family: Garamond, sans-serif;
    background-color: #F8EDEB; /* Pastel pink background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.container {
    background-color: #F8EDEB; 
    border-radius: 20px;
    box-shadow: 0 0 10px #FF70A6;
    padding: 80px;
    text-align: center;
    max-width: 900px;
}

h2 {
    color: black; /* Pastel pink text color */
}

.form-group {
    margin-right: 10px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: black; /* Pastel pink text color */
}

input {
    padding: 10px;
    width: 100%;
    border: 1px solid #FF70A6; /* Pastel pink border */
    border-radius: 5px;
}

button {
    background-color: black; /* Pastel pink button background */
    color: #F8EDEB; /* White button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e6aeb5; /* Lighter pink on hover */
}

a {
    text-decoration: none;
    color: #FF70A6; /* Blue link color */
}