<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sec.css') }}"> <!-- Link to the CSS file -->
</head>
<body>
    <img src="{{ url_for('static', filename='images/🩷.jpeg') }}" alt="Background Image" id="background-image">

    <div class="container">
        <section class="feature">
            <div class="feature-box">
                <img src="{{ url_for('static', filename='images/dw2.jpeg') }}" alt="Feature 1">
                <p><a href="{{ url_for('biodiversity_metric') }}"><button id="biodata">Manage biodiversity data</button></a></p>
            </div>
        </section>
        <section class="feature">
            <div class="feature-box">
                <img src="{{ url_for('static', filename='images/ねこぽた。@favoriteコラボ予約受付中 on X.jpeg') }}" alt="Feature 2">
                <p><a href="{{ url_for('manage_users') }}"><button id="userdata">Manage user data</button></a></p>
            </div>
        </section>
        <section class="feature">
            <div class="feature-box">
                <img src="{{ url_for('static', filename='images/Kawaii icon.jpeg') }}" alt="Feature 3">
                <p><a href="{{ url_for('contribute_data_index') }}"><button id="contribute">Contribute data</button></a></p>
            </div>
        </section>
        <section class="feature">
            <div class="feature-box">
                <img src="{{ url_for('static', filename='images/𝒫𝒾𝓍𝑒𝓁 𝒫𝒶𝓇𝒶𝒹𝒾𝓈𝑒 10.jpeg') }}" alt="Feature 4">
                <p><a href="{{ url_for('report_generation_index') }}"><button id="genreport">Generate report</button></a></p>
            </div>
        </section>
        <section class="feature">
            <div class="feature-box">
                <img src="{{ url_for('static', filename='images/1e8415f6cae37ce677f4d7fc858e2298.jpg') }}" alt="Feature 5">
                <p><a href="{{ url_for('track_initiative_index') }}"><button id="track">Track initiative</button></a></p>
            </div>
        </section>
        <section class="feature">
            <div class="feature-box">
                <img src="{{ url_for('static', filename='images/My top 5.jpeg') }}" alt="Feature 5">
                <!--<p><button id="find">Find collaborators</button></p>-->
                <p><a href="{{ url_for('find_collaborators') }}"><button id="find">Find collaborators</button></a></p>
            </div>
        </section>
    </div>

    <!-- Ensure the path to your JavaScript file is correct -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/secjs.js') }}"></script>

</body>
</html>