<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contribute data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Contribute data</h1>
    <h2>Available Tables:</h2>
    <ul>
        {% for table in tables %}
            <li>{{ table }}</li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('contribute_select') }}" method="GET">
        <button type="submit">Contribute Data</button>
    </form>
</body>
</html>
