<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aletheia - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="Username" placeholder="Username" required>
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="Password" placeholder="Password" required>
            <br>
            <br>
            <label for="role">Login as:</label>
            <select id="role" name="role" required>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                    <option value="researcher">Researcher</option>
                    <option value="cityplanner">City Planner</option>
                    <option value="conversationist">Conservationist</option>
                    <option value="policymaker">Policy maker</option>
                    <option value="city scientist">City scientist</option>
                    <option value="Student">Student</option>
                    <option value="Volunteer">Volunteer</option>
            </select>
            <br>
            <br>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
        <p>Return to <a href="{{ url_for('home') }}">Homepage</a></p>
    </div>
    <script src="login.js"></script>
</body>
</html>
