<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Manage Users</h1>
        <div class="container">
            <h2>Create User</h2>
                <form method="POST" action="{{ url_for('manage_users') }}">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <select name="userrole" required>
                        <option value="">Select Role</option>
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                        <option value="researcher">Researcher</option>
                        <option value="cityplanner">City Planner</option>
                        <option value="conversationist">Conservationist</option>
                        <option value="policymaker">Policy maker</option>
                        <option value="city scientist">City scientist</option>
                        <option value="Student">Student</option>
                        <option value="Volunteer">Volunteer</option>
                    </select>
                    <button type="submit" name="action" value="create">Create User</button>
                </form>
            </div>
            <br>
            <br>
    <!-- Display Existing Users -->
        <!--<div class="container">-->
            <h2>Existing Users</h2>
            <table>
                <tr>
                    <th>UserID</th>
                    <th>Username</th>
                    <th>UserRole</th>
                    <th>Action</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>
                        <!-- Form to Delete a User -->
                        <form method="POST" action="{{ url_for('manage_users') }}">
                            <input type="hidden" name="userid" value="{{ user[0] }}">
                            <button type="submit" name="action" value="delete">Delete User</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        <!--</div>-->

</body>
</html>